page-privacy-setting {

	.title-txt {
	    font-size: 7vw;
    	padding: 15px 0;
	}
	
	.visible_div{
		margin-top: 10px;
		.item{
			padding-left: 0;

			.shown{
				color: #000;
			}
			.hidden{
				color: #b2b2b2;
			}
			.item-inner{
				padding-bottom: 10px;
				.label{
					font-size: 16px;
				}

			}
		}	
		.toggle-checked .toggle-icon
		{
			background-color: #37c592 !important;
		}	
	}

}
