page-cerner-patient-data {
	.common-data {
		padding: 20px;
		border: 1px solid;
		border-radius: 5px;
	}

	.ccd-btn {
		margin-top: 60px;
	}

	.button {
		/*width: 80%;
		left: 50%;
    	transform: translateX(-50%);*/
	    border-radius: 10px;
	    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	}
}
