page-medical-services {

	.encryp-img-div {
		text-align: center;
	    margin-top: 5vw;
	}

	.encryp-img {
    	width: 70%;
	}

	.title {
		margin-top: 3vw;
	    text-align: center;
	    font-size: 6vw;
	}

	.description {
		font-size: 3.5vw;
	    margin-top: 3vw;
	}

	.last-img-div {
		text-align: center;
	    margin-top: 5vw;
	}

	.last-img {

	}

	.gotowebsite-btn {
		position: absolute;
	    background-color: #48c5cd;
	    color: white;
	    border-radius: 5px;
	    width: 30vw;
	    height: 10vw;
	    text-align: center;
	    padding-top: 3vw;
	    right: 10vw;
    	bottom: 10vw;
	}

}
