page-circle-notification-detail {
	.tail-txt {
		margin: 14vw;
	    text-align: center;
	    font-size: 4vw;
	    color: #727271;
	}

	.circle-detail-div {
        display: flex;
	    margin: 3vh 10px 0;
	}

	.circle-name {
	    font-size: 2.2rem;
	    margin: 2vh;
	    font-family: 'SF-UI-Text' !important;
	}

	.circle-header {
		display: flex;
	    align-items: center;
	    vertical-align: middle;
	    margin: 20px;

	    img {
	    	width: 20vw;
    		border-radius: 50%;
	    }

	    p {
    	    font-size: 2rem;
    		margin-left: 5vw;
	    }
	}

}
