page-member-detail {
	
	.member-img-div {
		text-align: center;
		margin-top: 1vh;
	}

	.item-title {
		color: #91928E;
        font-size: 1.3rem;
    	margin-top: 2vh;
	}

	.item-value {
	    font-size: 1.4rem;
    	margin-top: 1vw;
	}

}
