page-part-fee {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  button,
  div,
  .label {
    font-family: 'SF-UI-Text';
  }
  .nav_bar {
    button {
      color: $font-appcolor;
    }
    .close {
      float: left;
    }
  }
  .fee {
    .amount {
      width: 200px;
      margin: 0 auto;
      padding-top: 20px;
      .name_fld {
        width: 150px;
        float: left;
        padding: 0;
        margin-bottom: 15px;
        .item-inner {
          border: none !important;
          .label {
            font-size: 14px;
            color: #737370;
            padding-bottom: 3px;
          }
          .input {
            border: 1px solid $font-appcolor;
            border-radius: 2px;
            padding: 0 10px;
            .text-input {}
          }
        }
      }
      img {
        width: 20px;
        height: 20px;
        margin-bottom: 0px;
        margin-top: 40px;
        float: left;
        margin-left: 10px;
      }
    }
  }
  .next {
    position: absolute;
    width: 80%;
    height: 50px;
    font-size: 20px;
    background-color: $font-appcolor;
    left: 10%;
    bottom: 10px;
  }
}
