page-sponsor-find {
	h1, h2, h3, h4, h5, p, button, div, .label{
		font-family: 'SF-UI-Text';
	}

	.bring{

		.request{
			.item{
				padding-left: 0;
				border-top: none !important;
				border-bottom: 0.55px solid #c8c7cc;
				.item-inner{
					border: none;
				}
			}
			.avatar_div{
				width: 110px;
    			height: 110px;
    			img{
    				border-radius: 0;
    				width: 65px;
    				height: 65px;
    				margin: 0 auto;
    			}
    			p{
    				font-size: 18px;
    				color: $font-title;
    				text-align: center;
    			}
			}
			h2{
				width: 170px;
			    float: right;
			    text-align: center;
			    height: 50px;
			    padding: 15px;
			    background-color: $font-appcolor;
			    color: white;
			    font-size: 20px;
			    border-radius: 5px;
			    margin: 0
			}
		}
		.bring_next{
			width: 90%;
		    margin: 0 auto;
		    margin-top: 40px;
		    border: 2px solid;
		    font-size: 20px;
		    height: 45px;
		    display: block;
		}

	}

	.box{
		margin-top: 50px;
	    width: 80%;
	    margin: 0 auto;
	    padding-top: 50px;
		img{
			width: 23%;
		    display: block;
		    margin: 0 auto;
		}
		h2{
			font-weight: 400;
			text-align: center;
			margin-top: 50px;
		}
		p{
			font-size: 14px;
			text-align: left;
			color: $font-des;
			margin-top: 30px;

		}	

		.next_slide{
		    font-size: 20px;
		    height: 50px;
		    margin-top: 30px;
		    min-width: 150px;
		}
	}


}
