<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
      <button ion-button menuToggle icon-only class="menu_icon">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Validate</ion-title>

    <ion-buttons end>
      <button ion-button (click)="done()">Done</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list>

    <ion-item *ngFor="let member of participants; let index = index;">
      <ion-avatar item-start>
        <img [src]="member.avatar">
      </ion-avatar>
      <h2>{{member.info.firstName}}
        <span *ngIf="member.info.lastName"> {{member.info.lastName}}</span>
        <span *ngIf="userId == member.info.memberId"> (you)</span>
      </h2>
      <button ion-button item-end class="valid_btn" *ngIf="member.info.isValidate == null" (click)="addValidate($event, member, index)">Validate</button>
      <button ion-button icon-only clear item-end class="valid_btn" *ngIf="member.info.isValidate != null">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-item>

  </ion-list>

</ion-content>
